---
import { siteConfig } from "@/config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/misc/Search.astro";
import Layout from "@layouts/Layout.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    {siteConfig.search.enable && <Search />}
  </div>
</Layout>
